<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
  <test name="Test Basics 1">
  <parameter name="url1" value="https://www.google.com"/>
      <classes>
      	<class name="Different_URL_Testing.TestScenario">
      		<methods>
      			<include name = "m1"/>
      			<include name = "m2"/>
     		</methods>
      	</class>
    </classes>
  </test>
  
    <test name="Test Basics 2">
  <parameter name="url2" value="https://www.facebook.com"/>
      <classes>
      	<class name="Different_URL_Testing.TestScenario">
      		<methods>
      			<include name = "m3"/>
      			<include name = "m4"/>
     		</methods>
      	</class>
    </classes>
  </test>
</suite>